body{
  margin-top:0px;
  width:100%;
  height:auto;
  max-width:1000px;
  text-align:justify;
}

footer{
  background-color:#3A3A3A;
  padding-bottom:0px;
  height:10%;
  width:100%;
  
}

.fixed-position{
  position:fixed; /* *** */
  width:100%; /* *** */
}

#head {
  background-color:#000000;
  
  
  /* largeur : 100% */
  
  /*hauteur de l'entete*/
  height:45px;
  display:block;
  top:0px; /* *** */
  
}



.section1{
  padding-top:120px; /* *** */
  padding-left:200px; /* *** */
  padding-right:10px; /* *** */
}

.body-style{
  padding-top:0px; /* *** */
}

#logo{
  margin-top:6px;
  margin-left:1px;
  width:250px;
  /*taille max du logo*/
  max-width:300px;
}

.menu{ /* class in <div> */
  /* pour placer le menu en bas de l'en-tete*/
  background-color:#3A3A3A;
  width:100%; 
  display:block; 
  height:18px;
  position:fixed;
  top:45px;
  
  
  /* TB : pour fixer le menu sur la page*/
  padding-top:0px; /* *** */
  padding-bottom:22px; /* *** */
  padding-left:200px; /* *** */
  
}


#menu-deroulant-niv0 { /* in <ul> */
  padding:0 ; /* Pour avoir une marge sur la gauche */
    
}

#menu-deroulant-niv0, #menu-deroulant ul {
  position:abolute; /* Absolute = pas de renvoi à la ligne*/
  margin-top: 0; /* Inutile */
  list-style: none;
  margin-bottom:0px;
    
}
#menu-deroulant-niv0 {
  /* pour aligner le manu à gauche */
  text-align: left; 
}

#menu-deroulant-niv0 ul {
  /* couleur de fond de la liste déroulante */
  position: absolute;
/* on cache les sous menus complètement sur la gauche */
  left: -999em;
  text-align: left;
  /* Priorité de l'objet*/
  z-index: 1000;
  background-color:silver;
  
}



#menu-deroulant-niv0 li {
  
  /* menu horizontale pour tous les niveaux */
  display: inline-block;
  
  /* Majuscules*/
  text-transform:uppercase;
  padding:5px;
  
}    

#menu-deroulant-niv0 a { /*pour tous les niveaux */
  text-decoration: none;
  display: inline-block;
  color:#FFF;
  
  
  /* Hauteur des cellules*/
  

}

#menu-deroulant-niv1 li{
  position:relative;
  display: inline-block;
 
}

#home a { /* ID in li*/
  display:inherit;
  color:#000000;
  /*Hauteur de la ligne du menu :*/
  
  color:black;
  padding:5px;
  background-color:white;
    }

#menu-deroulant-niv0 li:hover {

  
 
  
}

#menu-deroulant-niv0 a:hover,{

  
  color:blue;
  text-decoration:underline;
  
}

#menu-deroulant-niv0 li:hover ul {
/* Au survol des li du menu on replace les sous menus */
  left: auto;
  
}



#menu-deroulant-niv1 li {
  /* */
  
  /* li cote cote */
  float:left;
  text-transform:none;
  padding:4%;
  
    
}

#menu-deroulant-niv1 a {
  /* */
  
  
   
}

#menu-deroulant-niv1 li:hover {
/* Au survol des li du menu on replace les sous menus */
  
  
  
  
  
  
}

#menu-deroulant-niv1 a:hover{
/* Au survol des li du menu on replace les sous menus */
  color:blue;
  background-color:#b3b3b3;
  
  
}


.footer-style{
  text-decoration: none;
}
#footer-menu{
  text-decoration: none;
  padding-left:200px;
}

#footer-menu li{
  display:inline-block;
  text-decoration: none;
  padding:1%;
}

#footer-menu a{
  text-decoration: none;
  color:#FFF;
}

.chemin {
  padding-top:45px;
  padding-left:200px;
  padding-bottom:5px;
  font-weight:bold;
  font-size:18px;
  border-bottom:1px dotted
  
  
    
}

.chemin-items{
  text-decoration: none;
  color:black;
}
